/* .navbar-item {
  color: #0011ff;
  display: block;
  font: bold 14px/48px Arial, Helvetica, sans-serif;
  height: 49px;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar-item:hover {
  background-position: 0 -59px;
  color: #6d6157;
} */